.none {
    display: none;
}
.block {
    display: block;
}
.nmenu {
    position: fixed;
    width: 1px;
    height: 1px;
    left: 50%;
    bottom: 35px;
    z-index: 900;
}
.nmenu .back {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 0;
    background-color: #fff;
    opacity: 0.1;
    -webkit-transition: opacity 0.5s, background-color 0.5s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.nmenu.show  .back {
    opacity: 0.5;
    background-color: gray;
}
.nmenu.hide .back {
    opacity: 0;
    background-color: #fff;
}
.nmenu .main_button {
    position: absolute;
    width: 40px;
    height: 40px;
    left: -20px;
    top: -20px;
    border-radius: 20px;
    outline: none;
    z-index: 999;
    background-image: url(../../images/mobile/fmb1.png);
    background-size: 40px;
    -webkit-transition: -webkit-transform 0.5s, background-image 0.5s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.nmenu.show .main_button {
    -webkit-transform: rotate(-360deg);
    background-image: url(../../images/mobile/fmb2.png);
}
.nmenu.hide .main_button {
    -webkit-transform: rotate(360deg);
    background-image: url(../../images/mobile/fmb1.png);
}
.nmenu .memu_container {
    position: absolute;
    width: 40px;
    height: 40px;
    left: -20px;
    top: -20px;
    border-radius: 20px;
    z-index: 998;
}
.nmenu .memu_container .inner {
    position: relative;
    width: 1px;
    height: 1px;
    left: 50%;
    top: 50%;
}
.nmenu .memu_container .inner .item1 {
    position: absolute;
    width: 1px;
    height: 1px;
    left: -81px;
    top: -59px;
}
.nmenu .memu_container .inner .item2 {
    position: absolute;
    width: 1px;
    height: 1px;
    left: -31px;
    top: -95px;
}
.nmenu .memu_container .inner .item3 {
    position: absolute;
    width: 1px;
    height: 1px;
    left: 31px;
    top: -95px;
}
.nmenu .memu_container .inner .item4 {
    position: absolute;
    width: 1px;
    height: 1px;
    left: 81px;
    top: -59px;
}
.nmenu .memu_container .inner .item_inner {
    position: relative;
    width: 1px;
    height: 1px;
}
.nmenu .memu_container .inner .item_inner .item_btn {
    position: absolute;
    width: 40px;
    height: 40px;
    left: -20px;
    top: -20px;
    border-radius: 20px;
    background-size: contain;
    background-color: #fff;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.nmenu .memu_container .inner .item_inner .item_btn.btn1 {
    background-image: url(../../images/mobile/fm1.png);
}
.nmenu .memu_container .inner .item_inner .item_btn.btn2 {
    background-image: url(../../images/mobile/fm2.png);
}
.nmenu .memu_container .inner .item_inner .item_btn.btn3 {
    background-image: url(../../images/mobile/fm3.png);
}
.nmenu .memu_container .inner .item_inner .item_btn.btn4 {
    background-image: url(../../images/mobile/fm4.png);
}
.hinge {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
}
@-webkit-keyframes showScroll {
    0% {
        opacity: 0;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: rotate(-720deg);
        transform: rotate(-720deg);
    }
}
@keyframes showScroll {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-720deg);
        -ms-transform: rotate(-720deg);
        transform: rotate(-720deg);
    }
}
@-webkit-keyframes hideScroll {
    0% {
        -webkit-transform: rotate(-720deg);
        transform: rotate(-720deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
@keyframes hideScroll {
    0% {
        -webkit-transform: rotate(-720deg);
        -ms-transform: rotate(-720deg);
        transform: rotate(-720deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
@-webkit-keyframes showItem1 {
    0% {
        opacity: 0;
        -webkit-transform: translate(81px, 59px);
        transform: translate(81px, 59px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
}
@keyframes showItem1 {
    0% {
        opacity: 0;
        -webkit-transform: translate(81px, 59px);
        -ms-transform: translate(81px, 59px);
        transform: translate(81px, 59px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px, 0px);
        -ms-transform: translateY(0px, 0px);
        transform: translateY(0px, 0px);
    }
}
@-webkit-keyframes showItem2 {
    0% {
        opacity: 0;
        -webkit-transform: translate(31px, 95px);
        transform: translate(31px, 95px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
}
@keyframes showItem2 {
    0% {
        opacity: 0;
        -webkit-transform: translate(31px, 95px);
        -ms-transform: translate(31px, 95px);
        transform: translate(31px, 95px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px, 0px);
        -ms-transform: translateY(0px, 0px);
        transform: translateY(0px, 0px);
    }
}
@-webkit-keyframes showItem3 {
    0% {
        opacity: 0;
        -webkit-transform: translate(-31px, 95px);
        transform: translate(-31px, 95px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
}
@keyframes showItem3 {
    0% {
        opacity: 0;
        -webkit-transform: translate(-31px, 95px);
        -ms-transform: translate(-31px, 95px);
        transform: translate(-31px, 95px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px, 0px);
        -ms-transform: translateY(0px, 0px);
        transform: translateY(0px, 0px);
    }
}
@-webkit-keyframes showItem4 {
    0% {
        opacity: 0;
        -webkit-transform: translate(-81px, 59px);
        transform: translate(-81px, 59px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
}
@keyframes showItem4 {
    0% {
        opacity: 0;
        -webkit-transform: translate(-81px, 59px);
        -ms-transform: translate(-81px, 59px);
        transform: translate(-81px, 59px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px, 0px);
        -ms-transform: translateY(0px, 0px);
        transform: translateY(0px, 0px);
    }
}
@-webkit-keyframes hideItem1 {
    0% {
        opacity: 1;
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(81px, 59px);
        transform: translate(81px, 59px);
    }
}
@keyframes hideItem1 {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0px, 0px);
        -ms-transform: translateY(0px, 0px);
        transform: translateY(0px, 0px);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(81px, 59px);
        -ms-transform: translate(81px, 59px);
        transform: translate(81px, 59px);
    }
}
@-webkit-keyframes hideItem2 {
    0% {
        opacity: 1;
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(31px, 95px);
        transform: translate(31px, 95px);
    }
}
@keyframes hideItem2 {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0px, 0px);
        -ms-transform: translateY(0px, 0px);
        transform: translateY(0px, 0px);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(31px, 95px);
        -ms-transform: translate(31px, 95px);
        transform: translate(31px, 95px);
    }
}
@-webkit-keyframes hideItem3 {
    0% {
        opacity: 1;
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(-31px, 95px);
        transform: translate(-31px, 95px);
    }
}
@keyframes hideItem3 {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0px, 0px);
        -ms-transform: translateY(0px, 0px);
        transform: translateY(0px, 0px);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(-31px, 95px);
        -ms-transform: translate(-31px, 95px);
        transform: translate(-31px, 95px);
    }
}
@-webkit-keyframes hideItem4 {
    0% {
        opacity: 1;
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(-81px, 59px);
        transform: translate(-81px, 59px);
    }
}
@keyframes hideItem4 {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0px, 0px);
        -ms-transform: translateY(0px, 0px);
        transform: translateY(0px, 0px);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(-81px, 59px);
        -ms-transform: translate(-81px, 59px);
        transform: translate(-81px, 59px);
    }
}
.nmenu.show .showItem1 {
    -webkit-animation-name: showItem1;
    animation-name: showItem1;
}
.nmenu.show .showItem2 {
    -webkit-animation-name: showItem2;
    animation-name: showItem2;
}
.nmenu.show .showItem3 {
    -webkit-animation-name: showItem3;
    animation-name: showItem3;
}
.nmenu.show .showItem4 {
    -webkit-animation-name: showItem4;
    animation-name: showItem4;
}
.nmenu.hide .showItem1 {
    -webkit-animation-name: hideItem1;
    animation-name: hideItem1;
}
.nmenu.hide .showItem2 {
    -webkit-animation-name: hideItem2;
    animation-name: hideItem2;
}
.nmenu.hide .showItem3 {
    -webkit-animation-name: hideItem3;
    animation-name: hideItem3;
}
.nmenu.hide .showItem4 {
    -webkit-animation-name: hideItem4;
    animation-name: hideItem4;
}
.nmenu.show .scroll {
    -webkit-animation-name: showScroll;
    animation-name: showScroll;
}
.nmenu.hide .scroll {
    -webkit-animation-name: hideScroll;
    animation-name: hideScroll;
}